/*
  Name: David Oyeyemi
  Student Number: 100987382
  Date: 21st February, 2025
  Description: This css code is going to design and structure the <div> block in the HTML file.
*/

html {
    font-family: sans-serif;
  }

div {
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;

    font-size: 1.1rem;
    font-weight: bold;

    background-color: #4a90e2;
    color: #FFFFFF;
    text-shadow: 1px 1px 3px black;
}
  