/*
  Name: David Oyeyemi
  Student Number: 100987382
  Date: 21st February, 2025
  Description: This css code is going to design and structure a community school's homepage.
*/

/* General setup */

* {
    box-sizing: border-box;
  }
  
@font-face {
    font-family: 'BodyFont';
    src: url('body-font.woff2') format('woff2');
}

@font-face {
    font-family: 'HeadingFont';
    src: url('heading-font.woff2') format('woff2');
}

  body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
  }
  
  /* Layout */
  
  section {
    float: left;
    width: 50%;
  }
  
  aside {
    float: left;
    width: 30%;
  }
  
  nav {
    float: left;
    width: 20%;
  }
  
  footer {
    clear: both;
  }
  
  header, section, aside, nav, footer {
    padding: 20px;
  }
  
  /* header and footer */
  
  header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
  }
  
  /* WRITE YOUR CODE BELOW HERE */